@media (min-width: 769px) {
  
  .products {
    display: flex;
    align-items: stretch;
  } 

  .product:nth-child(3n+2) {
    margin-right: 2%;
    margin-left: 2%;
  }

}

.product__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}