.page {
  display: flex;
  flex-direction: row;
}

@media (min-width: 961px) {
  .aside {
    flex-basis: 320px;
    min-width: 320px;
    margin-right: 40px;
  }

  .content {
    width: 100%;
    order:  1;
  }
}

@media (max-width: 960px) {
  .page {
    flex-direction: column;
  }  

  .aside__menu {
    display: none;
  }
}